@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

$ff-main : 'Open Sans', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a { 
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}
body{
    background-color: #f0f0f0;
    position: relative;
    font-family: $ff-main;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset{
    width: 100px;
}
